.page404 {
  background: linear-gradient(to bottom, rgb(6, 8, 12), rgb(21, 37, 56));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  .container {
    position: absolute;
    top: 15%;
    right: 54%;
    text-align: center;
  }

  h3 {
    font-size: 100px;
    margin: 10px 0;
    color: rgba(219, 233, 246, 0.641);
  }

  .goback-btn {
    background-color: transparent;
    border: 3px solid rgba(219, 233, 246, 0.641);
    border-radius: 16px;
    padding: 5px 10px;
    width: 24vw;
    height: 10vh;
    font-size: 20px;
    cursor: pointer;
    color: rgba(219, 233, 246, 0.641);

    &:hover {
      background-color: rgba(219, 233, 246, 0.247);
    }
  }
}