.header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 20px 40px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    opacity: 0.4;
    font-size: 40px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1;

    &:hover {
      opacity: 1;
      transition: opacity 1s ease;
      text-decoration: underline;
      color: rgb(180, 197, 216);
    }

    @media (max-width: 2000px) {
      font-size: 28px;
    }

    @media (max-width: 1700px) {
      font-size: 24px;
    }

    @media (max-width: 1200px) {
      font-size: 20px;
    }

    @media (max-width: 500px) {
      font-size: 14px;
    }

    @media (max-width: 400px) {
      font-size: 12px;
    }
  }

  @media (max-width: 400px) {
    gap: 10px;
  }

  .login-icon {
    width: 2vw;
    height: auto;
    vertical-align: middle;
    line-height: 1;

    @media (max-width: 1200px) {
      width: 2.5vw;
      height: auto;
    }

    @media (max-width: 700px) {
      width: 4vw;
      height: auto;
    }
  }
}